<template>
  <div id="app">
    <div>
      <b-navbar type="dark" variant="info">
        <b-navbar-brand href="/">Budka</b-navbar-brand>
        <b-navbar-brand href="/prediction">Prediction</b-navbar-brand>
        <b-navbar-brand href="/transactions">Transactions</b-navbar-brand>
      </b-navbar>
    </div>
    <div id="container">
      <router-view />
    </div>
  </div>
</template>


<script>
export default {
  name: "App",
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#container {
  text-align: center;
  max-width: 50%;
}
</style>
