<template>
  <div class="m-5">
    <div class="col-12" mt-5>
      <mdb-container v-if="barChartData.labels.length">
        <mdb-bar-chart
          :data="barChartData"
          :options="barChartOptions"
          :height="400"
        ></mdb-bar-chart>
        <mdb-bar-chart
          class="mt-3"
          :data="barChartData1"
          :options="barChartOptions"
          :height="400"
        ></mdb-bar-chart>
      </mdb-container>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import { mdbBarChart, mdbContainer } from "mdbvue";
export default {
  name: "List",
  components: {
    mdbBarChart,
    mdbContainer,
  },
  data() {
    return {
      results: [],
      barChartData: {
        labels: [],
        datasets: [
          {
            label: "Хувцасны тоо ширхэг",
            data: [],
            backgroundColor: [
              "rgba(255, 99, 132, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(255, 206, 86, 0.2)",
              "rgba(75, 192, 192, 0.2)",
              "rgba(153, 102, 255, 0.2)",
              "rgba(255, 159, 64, 0.2)",
            ],
            borderColor: [
              "rgba(255,99,132,1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)",
            ],
            borderWidth: 1,
          },
        ],
      },
      barChartData1: {
        labels: [],
        datasets: [
          {
            label: "Хувцасны орлого",
            data: [],
            backgroundColor: [
              "rgba(255, 99, 132, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(255, 206, 86, 0.2)",
              "rgba(75, 192, 192, 0.2)",
              "rgba(153, 102, 255, 0.2)",
              "rgba(255, 159, 64, 0.2)",
            ],
            borderColor: [
              "rgba(255,99,132,1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)",
            ],
            borderWidth: 1,
          },
        ],
      },
      barChartOptions: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [
            {
              barPercentage: 1,
              gridLines: {
                display: true,
                color: "rgba(0, 0, 0, 0.1)",
              },
            },
          ],
          yAxes: [
            {
              gridLines: {
                display: true,
                color: "rgba(0, 0, 0, 0.1)",
              },
            },
          ],
        },
      },
    };
  },
  mounted() {
    this.getReport();
  },
  methods: {
    async getReport() {
      await axios
        .get("http://localhost:5000/report")
        .then((response) => {
          console.log(response);
          this.barChartData.labels = [];
          this.barChartData.datasets[0].data = [];
          this.results = response.data;

          this.results[0].forEach((element) => {
            this.barChartData.labels.push(element["label"]);
            this.barChartData.datasets[0].data.push(element["value"]);
          });
          this.results[1].forEach((element) => {
            this.barChartData1.labels.push(element["label"]);
            this.barChartData1.datasets[0].data.push(element["value"]);
          });
        })
        .catch((error) => console.log(error));
    },
  },
};
</script>
