<template>
  <div class="m-5">
    <b-form @submit.prevent="upload" class="row mb-5">
      <b-form-file
        v-model="file"
        placeholder="file"
        class="col-10"
      ></b-form-file>
      <b-button class="col-1 ml-5" type="submit" variant="success"
        >upload</b-button
      >
      <b-alert :show="isSuccess" class="mt-5" variant="success"
        >Success Alert</b-alert
      >
    </b-form>
  </div>
</template>
        
<script>
import axios from "axios";
export default {
  data() {
    return {
      file: null,
      isSuccess: false,
    };
  },
  methods: {
    async upload() {
      let formData = new FormData();
      formData.append("file", this.file);
      await axios
        .post("http://localhost:5000/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then(() => {
          this.isSuccess = true;
          console.log(this.isSuccess)
        })
        .catch((error) => console.log(error));
    },
  },
};
</script>
        