<template>
  <div id="app">
    <div>
      <b-navbar type="dark" variant="info">
        <b-navbar-brand href="/">Budka</b-navbar-brand>
        <b-navbar-brand href="/model">Model</b-navbar-brand>
        <b-navbar-brand href="/transactions">Transactions</b-navbar-brand>
        <b-navbar-brand href="/analyze">Report</b-navbar-brand>
        <b-navbar-brand href="/upload">Upload</b-navbar-brand>
        <b-navbar-brand @click="showModal">Train</b-navbar-brand>
      </b-navbar>
      <b-modal ref="my-modal" hide-footer title="Train model">
        <div class="d-block text-center">
          <h3>Are you sure!</h3>
        </div>
        <b-button
          col="2"
          class="mt-3"
          variant="outline-warning"
          block
          @click="train"
          >Train</b-button
        >
        <b-button class="mt-2" variant="outline-danger" block @click="hideModal"
          >Close</b-button
        >
      </b-modal>
    </div>
    <div id="container">
      <router-view />
    </div>
  </div>
</template>


<script>
import axios from "axios";
export default {
  name: "App",
  methods: {
    showModal() {
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },

    async train() {
      this.hideModal();
      await axios
        .post("http://localhost:5000/train")
        .then((response) => {
          this.result = response.data;
        })
        .catch((error) => console.log(error));
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#container {
  margin: auto;
  max-width: 70%;
}
</style>
