<template>
  <div id="hello">
    <h1>{{ info }}</h1>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "FuckBudka",
  data() {
    return {
      info: null,
    };
  },
  mounted() {
    axios
      .get("http://localhost:5000/")
      .then((response) => {
        this.info = response.data;
      })
      .catch((error) => console.log(error));
  },
};
</script>
<style scoped>
#hello {
  text-align: center;
  margin: auto;
}
</style>

